input, button, select {
    width: 190px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
    color: black;
    font-size: 22px;
}
  
.register-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
  
.register-user-container {
    width: 250px;
    height: 380px;

    .card-body {
        height: 250px;
        padding: 10px;
    }

    .button-container {
        padding: 20px;
    }
}
  
.action-button {
margin: 5px;
}